body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/bg.jpg");
    height:100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

header {
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 10em;
    
    color: #fff;
}

.hero h1 {
    margin-bottom: 20px;
}

.xx{
    background: white;
    padding: 2px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ddd;
}

.services {
    padding: 2em;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.services h2 {
    margin-bottom: 20px;
}

.service {
    display: flex;
    justify-content: center; /* Center the service boxes horizontally */
    flex-wrap: wrap;
}

.service-box {
    width: 300px; /* Set a fixed width for the service boxes */
    padding: 15px;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px;
    margin-top: 10px;
}

.service img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.about {
    display: flex;
    align-items: center;
    padding: 5em;
    background: linear-gradient(45deg, #ff6b6b, #ffa07a);
}

.about-text {
    flex: 5;
    text-align: left;
}

.about img {
    width: 60%;
    height:50%;
    border-radius: 8px;
    margin-left: 30px;
}

.contact {
    text-align: center;
    padding: 2em;
    background: linear-gradient(45deg, #ff6b6b, #ffa07a);
    color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 1em;
}